body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

.color-dark-1 {
  background-color: rgb(49, 49, 60);
}

.color-dark-2 {
  background-color: rgb(36, 36, 42);
}

.color-dark-3 {
  background-color: rgb(28, 28, 31);
}

.one-page {
  height: 100vh;
}

.one-page-plus {
  min-height: 100%;
}

.one-page-plus-minus-nav-minus-footer {
  min-height: calc(100vh - 112px - 48px);
}

.one-page-minus-nav {
  height: calc(100vh - 80px);
}

.half-page {
  height: 50vh;
}

.home-page-banner {
  height: 50vh;
}

.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.bg-1 {
  /* background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(50, 50, 50, 1) 100%
  ); */
}

.bg-2 {
  background: rgb(0, 87, 116);
  background: linear-gradient(
    0deg,
    rgba(0, 87, 116, 1) 0%,
    rgba(46, 46, 46, 1) 100%
  );
}
