ul.items-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: baseline;
  font-size: 12px;
}

ul.items-list li {
  padding: 0.5rem 0.2rem;
  color: inherit;
}

ul.items-list li:hover {
  /* color: #d13639; */
  text-decoration: none;
}

ul.items-list .item-display-info {
  overflow: hidden;
  width: 80px;
  max-height: 50px;
  color: rgb(233, 198, 0);
  /* white-space: nowrap; */
}

ul.items-list .item-tooltip,
.spell-container .spell-tooltip {
  text-transform: capitalize;
  background-color: #303d4e;
  max-width: 400px;
  opacity: 0.9;
}

.spell-container .spell-tooltip {
  width: 400px;
}

@media (max-width: 400px) {
  ul.items-list .item-tooltip,
  .spell-container .spell-tooltip {
    max-width: 350px;
    left: 0px !important;
  }
}

@media (max-width: 600px) {
  ul.items-list .item-tooltip,
  .spell-container .spell-tooltip {
    left: 12px !important;
  }
}

ul.items-list li img {
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 0.5rem;
  border: 1px solid #ccb6b6;
  overflow: hidden;
}

ul.items-list .item-tooltip .item-name {
  font-size: 1.2rem;
  color: rgb(188, 255, 188);
  margin-bottom: 0.5rem;
}

ul.items-list .item-tooltip stats {
  color: rgb(178, 238, 129);
}
ul.items-list .item-tooltip unique {
  color: yellow;
}
ul.items-list .item-tooltip active {
  color: rgb(255, 217, 0);
}
ul.items-list .item-tooltip passive {
  color: rgb(255, 228, 72);
}
ul.items-list .item-tooltip rules,
ul.items-list .item-tooltip rules > * {
  color: rgb(0, 255, 221);
}
ul.items-list .item-tooltip consumable {
  color: rgb(198, 101, 255);
}
ul.items-list .item-tooltip scalelevel {
  color: rgb(148, 235, 184);
}
ul.items-list .item-tooltip levellimit {
  color: rgb(154, 237, 240);
}
ul.items-list .item-tooltip grouplimit {
  color: rgb(164, 205, 243);
}
ul.items-list .item-tooltip spellpassive {
  color: rgb(198, 101, 255);
}
