.middle {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
}

.placeholder-container.rs-placeholder-active div p,
.placeholder-container .rs-placeholder-paragraph-graph-image {
  background: linear-gradient(-45deg, #1a3146 25%, #d13639 37%, #1a3146 63%);
}

.middle > * {
  width: 50%;
}

@media (max-width: 667px) {
  .middle > * {
    width: 80%;
  }
}

@media (min-width: 1200px) {
  .middle > * {
    width: 30%;
  }
}
