.champion-page .header {
  padding: 15% 0px;
}

.mask-image-bg {
  -webkit-mask-image: -webkit-gradient(
    linear,
    center top,
    center bottom,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0.7))
  );
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7));
}

.champion-page .main-stats {
  align-self: flex-end;
  text-align: left;
}

.champion-page .info-stats {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  max-width: 175px;
}

@media (max-width: 567px) {
  .champion-page .header {
    padding: 45% 0px !important;
  }

  .champion-page .main-stats {
    align-items: center;
    text-align: center;
  }

  .champion-page .info-stats {
    justify-content: space-around;
    max-width: none;
  }
}

.main-stats .badge-c {
  background-color: #d13639;
}

.stat-container ::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.champion-page .main-stats p {
  text-transform: capitalize;
}

.champion-page .info-badge {
  width: auto;
  border-radius: 5px;
  overflow: hidden;
}

.champion-page .info-badge * {
  width: 2.3rem;
  text-align: center;
  font-size: 0.75rem;
  padding: 0px 0px;
}

.champion-page .info-badge div:first-child.clr-ad {
  background-color: rgb(255, 86, 56);
}
.champion-page .info-badge div:first-child.clr-ap {
  background-color: rgb(83, 183, 223);
}
.champion-page .info-badge div:first-child.clr-def {
  background-color: rgb(67, 151, 34);
}
.champion-page .info-badge div:first-child.clr-dif {
  background-color: rgb(165, 56, 255);
}

.champion-page .info-badge div:first-child,
.champion-page .info-badge div:last-child {
  border: 1px solid rgb(149, 149, 149);
}

.champion-page .info-badge div:first-child {
  border-bottom: none;
}

.champion-page .info-badge div:last-child {
  background-color: rgb(10, 7, 7);
  border-top: none;
  color: white;
}

.skins-tab .col {
  margin-bottom: 1rem;
}

.skins-tab img {
  border-radius: 0.25rem;
}

.overlay-container {
  width: 100%;
  position: relative;
}

.overlay-container div {
  position: absolute;
  bottom: 0;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 0.4rem;
  text-align: center;
  text-transform: capitalize;
}

.images-container {
  padding: 15px 200px;
}

ul.images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.images > li {
  position: relative;
  padding-top: 66%;
}

ul.images > li img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul.images > li .fullscreen-btn .fullscreen-image:first-child img {
  border-radius: 0.25rem;
}

@media (max-width: 567px) {
  ul.images {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@media (max-width: 1000px) {
  .images-container {
    padding: 15px;
  }

  ul.images {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

@media (min-width: 1400px) {
  ul.images {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}

button.fullscreen-btn:focus {
  outline: none;
}

.fullscreen-toggle,
.fullscreen-toggle:focus,
.fullscreen-toggle:active,
.fullscreen-exit-btn,
.fullscreen-exit-btn:focus,
.fullscreen-exit-btn:active {
  outline: none;
}

.panel-def-size {
  min-height: 100vh;
}

div.fullscreen-group::before {
  background-color: rgba(0, 0, 0, 0.85);
}

.champ-img {
  border-radius: 0.25rem;
  width: 100%;
  max-width: 200px;
}

.spell-img-container {
  border-radius: 0.25rem;
}

.spell-img-container {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 64px;
  height: 64px;
  color: white;
}

.bottom-right-icon {
  position: absolute;
  width: 20px;
  bottom: 0;
  right: 0;
  text-align: center;
  background-color: rgb(0, 0, 0, 0.5);
  border-bottom-right-radius: 0.25rem;
}

.card-text font {
  color: black;
  font-weight: bold;
}

.habilities-pannel .card-spells {
  background-color: rgba(36, 38, 66, 0.287);
  /* background-color: #0e0e0e3b; */
}

.card-spells {
  height: 100%;
}

.card-subtitle {
  font-size: 0.8rem;
  color: rgba(214, 214, 214, 0.7);
}

spellpassive {
  color: rgb(116, 116, 116);
  font-weight: bold;
}

.stats-container {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.stat-container .row {
  align-items: center;
}

.stat-container .row .col {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border: 1px solid;
  white-space: nowrap;
  overflow: scroll;
}

.stat-container .row .col:first-child,
.text-bold {
  font-weight: bold;
}

.stats-container .stat-container:nth-child(2) .row .col:first-child {
  border-top-left-radius: 0.25rem;
}
.stats-container .stat-container:nth-child(2) .row .col:last-child {
  border-top-right-radius: 0.25rem;
}
.stats-container .stat-container:last-child .row .col:first-child {
  border-bottom-left-radius: 0.25rem;
}
.stats-container .stat-container:last-child .row .col:last-child {
  border-bottom-right-radius: 0.25rem;
}

.stats-container .stat-container:nth-child(odd) .row * {
  background-color: #1d252e;
}

.stats-container .stat-container:nth-child(even) .row * {
  background-color: #13181f;
}

.stats-container .stat-container:nth-child(2) .row * {
  background-color: #090c0f;
}

.stats-container .row .col .rs-slider {
  margin-bottom: 0;
  height: 12px;
}

.stats-container .row .col .rs-slider-bar,
.stats-container .row .col .rs-slider-bar div {
  height: 12px;
}

.stats-container .row .col .rs-slider-handle {
  position: absolute;
  top: 0%;
}

.stats-container .row .col .rs-slider-handle::before {
  width: 12px;
  height: 12px;
  margin-left: -6px;
}

.stats-container .row .col .rs-slider-handle:hover .rs-tooltip,
.stats-container .row .col .rs-slider-handle.active .rs-tooltip {
  top: -25px;
}

.rs-slider-graduator {
  font-size: 12px;
  background-color: rgb(54, 54, 54);
}

.rs-slider-graduator > ul > li.rs-slider-pass:before {
  border-color: black;
}

.rs-slider-graduator > ul > li:before,
.rs-slider-graduator > ul > li:last-child:after {
  top: 1px;
  border: inherit;
}

.stats-container .row .col .rs-slider-progress-bar {
  background-color: rgb(12, 11, 11);
}

.champion-page ul .react-tabs__tab {
  color: rgb(190, 190, 190);
}

.champion-page ul .react-tabs__tab.react-tabs__tab--selected {
  color: white;
  background-color: #111111;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 300px);
}
