.search-container .menu-dropdown button {
  padding: 0.25rem 0.75rem 0.25rem 0.5rem;
}

.search-container {
  display: flex;
  vertical-align: middle;
  /* padding-top: 0.5rem; */
}

.search-container .dropdown button {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  /* border-bottom-left-radius: 0px; */
  min-width: 82px;
  outline: none;
  box-shadow: none;
}

.search-container form {
  width: 100%;
}

.search-container form input {
  border-radius: 0px;
  display: inline-block;
  border: 1px solid #13191f;
  width: 75%;
}

.search-container form button {
  vertical-align: top;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  /* border-bottom-right-radius: 0px; */
  background-clip: unset;
  width: 25%;
  outline: none;
  box-shadow: none;
  /* min-width: 50px; */
}

.search-container .dropdown-toggle {
  text-transform: uppercase;
}

.search-container .custom-button {
  background-color: #232e3a;
  border-color: #13191f;
}

.search-container .custom-button:hover {
  background-color: #13191f;
  border-color: #13191f;
}

.search-container .dropdown-menu {
  margin: 0;
}

.search-container .show > .btn-secondary.dropdown-toggle:focus,
.search-container .btn-secondary:not(:disabled):not(.disabled).active:focus,
.search-container .btn-secondary:not(:disabled):not(.disabled):active:focus {
  outline: none;
  background-color: #13191f;
  box-shadow: none;
}

.search-container .dropdown-menu {
  background-color: #232e3a;
}

.search-container .dropdown-menu .dropdown-item {
  color: #c5c8cb;
}

.search-container .dropdown-menu .dropdown-item:hover {
  background-color: #182129;
  color: white;
}

.search-container .dropdown-menu .dropdown-item:active,
.search-container .dropdown-menu .dropdown-item:focus {
  background-color: transparent;
  outline: none;
  box-shadow: none;
}

@media (max-width: 480px) {
  /* .search-container form input {
    margin-bottom: 2rem;
  } */

  .search-container {
    margin-top: 1rem;
  }
  .search-container form input {
    width: 65%;
  }
  .search-container form button {
    width: 35%;
  }
}

/* @media (min-width: 480px) {
  .search-container {
    min-width: 400px;
  }
} */

.recents-container,
.tab-content {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.recents-container {
  width: 100%;
  position: absolute;
}

.recents-container.disabled {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}
.recents-container.active {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}

.search-recents-parent {
  position: relative;
}

.tab-content {
  min-height: 100px;
  color: #575757;
  background-color: #dfdfdf;
}

.recents-container .btn-radius {
  border-radius: 0px !important;
}

.list-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  padding: 0.3rem 0rem;
}

.list-container * {
  padding: 0.2rem 0.7rem;
}

.search-item {
  display: flex;
  flex-flow: row nowrap;
  font-size: 12px;
}

.search-item > :first-child {
  flex-grow: 2;
  text-align: left;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
  padding: 0;
  align-self: center;
}

.search-item div a {
  margin: 0;
  padding: 0.2rem 0;
  white-space: nowrap;
  color: inherit;
  text-decoration: none;
}

.search-item .icon,
.search-item .icon i {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  color: grey;
}

.search-item .icon i {
  font-size: 10px;
}

.close-container:hover i,
.favorite-container:hover i {
  cursor: pointer;
}

.search-item .icon.active i {
  color: red;
}
